{
  "printWidth": 120,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "strict",
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
