{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
  {{ $path := path.Join .Page.File.Dir .Destination }}
  {{- $img = resources.Get $path -}}
{{- end -}}
<picture>
  {{- range $i, $size := (.Page.Params.screen_sizes | default .Page.Site.Data.default.screen_sizes ) -}}
    <source
      media="(max-width: {{ $size }}px)"
      type="image/webp"
      srcset="{{ ($img.Resize (printf "%0.0fx webp" $size)).RelPermalink }}" />
  {{- end -}}
  {{- range $i, $size := (.Page.Params.screen_sizes | default .Page.Site.Data.default.screen_sizes ) -}}
    <source
      media="(max-width: {{ $size }}px)"
      type="{{ $img.MediaType }}"
      srcset="{{ ($img.Resize (printf "%0.0fx" $size)).RelPermalink }}" />
  {{- end -}}
  <img decoding="async" loading="lazy" src="{{ $img.Permalink }}" alt="{{ .PlainText }}" title="{{ .Title }}" />
</picture>
