<script type="application/ld+json">
    {
        "@context": "http://www.schema.org",
        "@type": "Person",
        "@id": "{{ .Permalink }}",
        "name": "{{ .name }}",
        "alternateName": "{{ .name }}",
        "url": "{{ .Site.BaseURL }}",
        "image": "{{ .thumbnail | absURL }}",
        "sameAs": [
            {{- .website | default $.Site.baseURL | absURL -}}
            {{- range .social }},{{ .url | absURL }}{{ end -}}
        ]
    {{- if .education }},
        "alumniOf": [{
            "@type": "CollegeOrUniversity",
            "name": {{ .education.university }},
            "sameAs": {{ .education.url }}
        }]
    {{ end -}}
    {{ with .jobfunction }}, "Description": "{{ . }}"{{ end }}
    {{ with .description }},"disambiguatingDescription": "{{ . }}"{{ end }}
    {{ with .jobtitle }},"jobTitle": "{{ . }}"{{ end }}
    {{- with .address }},
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ .city }}",
            "addressRegion": "{{ .region }}",
            "addressCountry": "{{ .country }}"
        }
    {{ end }}
    }
</script>
